
.icon-ok-circled:before { content: '\e800'; } /* '' */
.icon-ok-circled2:before { content: '\e801'; } /* '' */
.icon-odnoklassniki:before { content: '\f263'; } /* '' */
.icon-odnoklassniki-square:before { content: '\f264'; } /* '' */